body {
  text-align:center;
  background: url('https://images.fineartamerica.com/images-medium-large/baseball-moon-bill-cannon.jpg');
  background-size:cover;
}

h1 {
  margin: 0px;
  padding:10px;
  font-size:80px;
  font-family: 'Cinzel', serif;
}
header {
  margin:0;
  background-image:url('http://coolcosmos.ipac.caltech.edu/assets/site/home/IRuniverse-11f4ba348cda7065011a4b52c648cb25.jpg');
}
nav {
  padding:10px;
}

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/
