body {
  text-align:center;
  background:#000;
  color:#FFF;
}

h1 {
  margin: 0px;
  padding:10px;
  font-size:80px;
  font-family: 'Cinzel', serif;
}
header {
  margin:0 auto;
  background-image:url('https://images.fineartamerica.com/images-medium-large/baseball-moon-bill-cannon.jpg');
  background-size: contain;
}
nav {
  padding:10px;
}

/*.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}*/
